@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  body {
    @apply box-border;
  }
}

@layer components{
  .btnEffects {
    @apply px-4 py-1 hover:duration-[0.3s] hover:ease-in-out focus:outline-2 focus:outline-offset-2 
     focus:outline-blue-400;
  }

  .appointmentBtn {
    @apply bg-gradient-to-r from-[#116BEB] to-[#0AA8EB] rounded-[35px] hover:from-[#5290e7]
     hover:to-[#116beb] ;
  }

  .signUpBtn {
    @apply bg-white text-primaryBlue rounded-[35px] hover:bg-[#e6e8eb];
  }

  .donateBtn {
    @apply py-3 px-9 text-[1.2rem] mb-7 inline-block bg-[#456FC7] rounded-[35px] hover:bg-[#5184ca];
  }

  .footerCardLink {
    @apply flex items-center justify-between px-4 h-[4rem] border-2 
    border-[#456FC7] rounded-md hover:border-white;
  }
}
